@import '../../../../shared/styles/variables.scss';

.table {
  width: 100%;
  height: 100%;

  .header {
    background-color: #d9dada;
    box-sizing: border-box;
    font-size: 13px;
    font-weight: 700;
    height: 20px;
    padding-top: 2px;
    text-align: center;
    margin-top: 2px;
    margin-left: 2px;
  }
  .body {
    overflow-y: scroll;
    height: 97%;
    margin-left: 2px;
    .row {
      text-align: center;
      display: grid;
      grid-template-columns: 95px 95px;
      grid-template-rows: 20px;
      column-gap: 2px;
      padding-top: 2px;
      box-sizing: border-box;
      cursor: pointer;

      div {
        padding-top: 2px;
      }
      .activeRow {
        background-color: $green-main !important;
      }
    }
  }
}
